<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETH校对</title>
    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>

</head>
<body>
<body>
<form enctype="multipart/form-data" method="post" action="/eth/uploadfile">
    excel文件<input type="file" name="file"/>
    eth地址<input type="text" name="ethAddress"/>
    开始时间<input type="datetime-local" name="startTime"/>
    结束时间<input type="datetime-local" name="endTime"/>
    <input type="radio" name="type" value="1" checked="checked">收币
    <input type="radio" name="type" value="2">退币
    <input type="submit" value="上传"/>
</form>
</body>
</body>
</html>